body {
    font-family: Futura!important;
    letter-spacing: 0.02em!important;
}

.bg-navy{
    background-color: #3c5279;
}

.b-dark {
    border: 0.3rem solid #292b2c;
}

.b-white {
    border: 1px solid white;
}

.img-fixed {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hover:hover {
    opacity: 0.9;
}

.move-on-click {
    transition: transform 0.1s ease;
    cursor: pointer;
}

.move-on-click:active {
    transform: scale(0.99) translate(1px, 1px);
}

.items-click:hover {
    border: solid #F0F974;
    cursor: pointer;
}

.scrollbar {
    max-height: 300px;  /* Adjust the height based on your requirement */
    overflow-y: auto;
}